header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  &>ul {
    margin-bottom: 0px;
    display: flex;
    list-style: none;
    gap: 57px;

    &>li>a {
      font-weight: 500;
      font-size: 24px;
      &.active {
        text-decoration: underline;
      }
    }
  }
}